<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.community.mapper.ArticleMapper">
    <insert id ="writeArticle" parameterType="com.example.community.entity.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (title, body) VALUES (#{title}, #{body});
    </insert>

    <update id ="modifyArticle" parameterType="com.example.community.entity.Article">
        UPDATE article
        SET title = #{title}, body = #{body}
        WHERE id = #{id};
    </update>

    <delete id ="deleteArticle" parameterType="Long">
        DELETE
        FROM article
        WHERE id = #{id};
    </delete>
</mapper>